@import (reference) "~styles/designSystem";
@import "~styles/base.less";

.container {

  height: 100%;

  main {

    height: 100%;
    padding-top: @--header-height;
    padding-bottom: @--footer-height;

    & > div {
      height: 100%;
    }
  }

  footer {

    background-color: @--color-white;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: @--footer-height;

  }

}

.nav-bar {
  composes: container from "~app/components/NavBar/NavBar.less";
  background-color: @--color-brand-blue;
  line-height: @--header-height;
  padding: 0 @--space-sm;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: @--header-height;

}

.title {
  composes: title from "~app/components/NavBar/NavBar.less";
  color: @--color-brand-orange;
}


.tab-bar {
  composes: container from "~app/components/TabBar/TabBar.less";

  :global(.far) {
    font-size: @--text-lg;
  }

  div:last-child {
    font-size: @--text-sm;
  }
}
