.cards() {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.card(@border-color: white; @background-color: white; @shadow-color: #bbb) {
  /* border: 1px solid #aaa; */
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid @border-color;
  box-shadow: 1px 1px 4px 0 @shadow-color;
  background-color: @background-color;
}

.card-hover(@border-color: #bbb) {
  &:hover {
    border: 1px solid @border-color;
  }
}

.card-image() {
  img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    padding: 0.5rem;
  }
}

.card-meta(@title-color: #666; @subtitle-color: #aaa; @shortdesc-color: #666) {
  padding: 0.5rem;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  order: 1;

  * {
    margin-top: auto;
  }

  & > * + * {
    margin-top: 0.75rem;
  }

  .title {
    font-size: 1em;
    font-weight: normal;
    color: @title-color;
  }

  .subtitle {
    color: @subtitle-color;
    margin-top: 0.25rem;
    font-size: 0.8rem;
  }

  a {
    text-decoration: none;
  }

  a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .shortdesc {
    font-size: 0.6em;
    color: @shortdesc-color;
  }

}
