* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

body {
  font-family: sans-serif;
  padding: 1rem;
  background: #eee;
}

.eventlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.event {
  /* border: 1px solid #aaa; */
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 4px 0 #bbb;
  background-color: white;
}

.event .image {
  /* height: 6.5rem; */
}

.event .image img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  padding: 0.5rem;
}

.event .meta * {
  margin-top: auto;
}

.event .meta {
  padding: 0.5rem;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.event .meta > * + * {
  margin-top: 0.75rem;
}

.event h1 {
  font-size: 1em;
  font-weight: normal;
  color: #666;
}

.event .subtitle {
  color: #aaa;
  margin-top: 0.25rem;
  font-size: 0.8rem;
}

.event a {
  text-decoration: none;
}

.event .shortdesc {
  font-size: 0.6em;
  color: #666;
}
